<div class="card text-center" style="width: 18rem;">
  <h2 class="text-center card-title"><span>Pokemon ID : </span><strong>{{pokemon.id}}</strong></h2>
  <h5 class="card-title">{{pokemon.name | titlecase}}</h5>
  <img [src]="pokemon.sprites.front_default" class="card-img-top" [alt]="pokemon.name">
  
  <div class="card-body">
    <p class="card-text mb-2">
      <strong>Height:</strong> {{pokemon.height | info:'height'}}<br>
      <strong>Weight:</strong> {{pokemon.weight | info:'weight'}}
    </p>
    <p class="card-text">
      <strong>Life:</strong> {{life}} / 100
    </p>
    <div>
      <strong>Numero de curaciones: {{numeroCuraciones}}</strong>
    </div>
    
    <ngb-progressbar class="mb-3" type="success" [value]="life"></ngb-progressbar>

    <div *ngIf="isTurn; else waiting">
      <div class="row mb-2">
        <div class="col">
          <button (click)="attack()" class="btn btn-primary w-100">Attack</button>
        </div>
        <div class="col">
          <button (click)="curar()" class="btn btn-success w-100">Curar</button>
        </div>
      </div>
    </div>
    <ng-template #waiting>
      <button [disabled]="true" class="btn btn-secondary w-100 mb-2">Waiting for the opponent</button>
    </ng-template>
    
    <button class="btn btn-danger w-100" (click)="cambiarPokemons()">Cambiar Pokemon</button>
  </div>
</div>